<div class="container" *ngIf="nowPlayingMovies.length > 0">
  <h1 class="text-center">Top Playing Movies </h1>
  <br>
  <div class="row card-group">
    <div class="col-4" *ngFor="let movie of nowPlayingMovies">
      <div class="card text-center">
        <a (click)="goToDetail(movie.id)">
          <div class="media">
            <img class="d-flex mr-3 img-responsive" src="https://image.tmdb.org/t/p/w300/{{movie.poster_path}}" alt="{{movie.title}}">
          </div>
        </a>
      </div>
    </div>
  </div>
  <br>
  <div class="container" *ngIf="nowPlayingTV.length > 0">
    <h1 class="text-center">Top Playing TV </h1>
    <br>
    <div class="row card-group">
      <div class="col-4" *ngFor="let movies of nowPlayingTV.splice(0,3)" (click)="goToDetailTV(movies.id)">
        <div class="panel panel-default">
          <div class="panel-body">
            <img class="d-flex mr-3 img-responsive" src="https://image.tmdb.org/t/p/w300/{{movies.poster_path}}" alt="{{movies.title}}">
          </div>
        </div>
      </div>
    </div>
  </div>
